@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');

body {
  width: 100vw;
  height: 100vh;
  margin: 0; padding: 0;
  background: rgb(98,48,13);
  background: linear-gradient(0deg, rgba(98,48,13,1) 0%, rgba(25,27,27,1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #d6d6d6;
  overflow: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
h1, h2 {
  font-weight: 400;
}
